<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex justify-content-between align-items-center p-5">
        <div>
            <h1>
                List of users
            </h1>
        </div>
        <div>
            <a class="btn btn-success" href="/create-user">Create a new user</a>
        </div>

    </div>
    <div class="px-5">
        <table class="table table-bordered border-primary table-hover text-center align-middle">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(function(result){ %>
                    <tr>
                        <th scope="row">
                            <%= result.id %>
                        </th>
                        <td>
                            <%= result.name %>
                        </td>
                        <td>
                            <%= result.email %>
                        </td>
                        <td>
                            <%= result.address %>
                        </td>
                        <td>
                            <div class="d-flex gap-2 justify-content-center">
                                <form action="handle-view-user/<%= result.id %>" method="get">
                                    <button type="submit" class="btn btn-primary">View</button>
                                </form>
                                <form action="handle-delete-user/<%= result.id %>" method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>

                            </div>

                        </td>
                    </tr>
                    <% }); %>

            </tbody>
        </table>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>